{% extends 'base.html' %}

  {% block title %}
    Pizza {{ pizza.name }}
  {% endblock %}

  {% block page %}
  <a href="{% url 'index' %}">Home</a>
      <div>
        <h2>{{ pizza.name }}</h2>
          {% if pizza.image %}
            <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}">
          {% endif %}
        <div>{{ pizza.description }}</div>
        <div>{{ pizza.price|floatformat:"2" }}</div>
      </div>
      <h2>Order</h2>
      {% if sent %}
        <h4>Thanks for your order!</h4>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Send Order">
      </form>
  {% endblock %}
